*
{
    font-family: Arial;
    font-size: larger;
    color: white;
    background-color: rgb(10, 3, 32);
    
}

p
{
    border-radius: 18px;
    padding: 8px;

    box-shadow: 10px 10px 20px 2px rgb(44, 44, 44);
}