<div class="cont">
    <p>
        Mi negocio está creciendo. Si desea ser parte de él como proveedor de frutas o tiene alguna sugerencia me puede contactar, 
        solo le informo que tiene que cumplir con lo siguiente:
    </p> 
    <ul>
        <li>
            No debe buscar dinero, debe estar dispuesto a ganar experiencia con un negocio que esta creciendo conmigo en su cabeza, lo cuál implica que no dejaré de crecer
            por lo que si usted desea ingresar a trabajar con nosotros, tendrá beneficios de aprendizaje a largo plazo, sobre todo si se decide a contribuir con reglas nuevas y 
            demás.
        </li>
        <li>
            lalala
        </li>
    </ul>
</div>

