*
{
    /* font-family: Arial; */
    font-family: 'Nunito-regular';

    font-size: large;
    color: rgb(230, 231, 231);
    
}
.cont
{
    margin: 50px;
    padding: 20px;

    border-radius: 30px;
    
    /* background-color: rgb(24, 92, 115); */
    background: linear-gradient(90deg, rgb(11, 50, 63), rgba(24, 92, 115, 0) );
    box-shadow: -1px -1px 20px 0 rgb(24, 92, 115);

}
@media (max-width: 720px)
{
    *
    {
        font-size: small;
    }
}