<div class="container">
  <div class="card">
    <img id="producto" src="/assets/img/coke.png" alt="coke" />
    <p>
      Coca-Cola <br />Tisa molida lo que te hace falta para el perro calor que
      hace
    </p>
  </div>
  <div class="card">
    <img id="producto" src="/assets/img/fanta-azul.png" alt="fanta azul" />
    <p>Fanta azul <br />Refrescamos tu verano .......</p>
  </div>
  <div class="card">
    <img id="producto" src="/assets/img/sprite.png" alt="sprite" />
    <p>Sprite <br />Somos lo que le gusta a tu familia</p>
  </div>
  <div class="card">
    <img
      id="producto"
      src="/assets/img/refresco-lata.png"
      alt="Coca-Cola en lata"
    />
    <p>Coca-Cola (lata) <br />Solo una y</p>
  </div>
  <div class="card">
    <img id="producto" src="/assets/img/fanta-morada.png" alt="Fanta Morada" />
    <p>
      Fanta Morada <br />Dudas de la ricura de los colores? Morada como tu color
      preferido
    </p>
  </div>
  <div class="card">
    <img id="producto" src="/assets/img/frapuccino.png" alt="coke" />
    <p>Frapuccino <br />Una tarde con tus amigos 🤳</p>
  </div>
  <div class="card">
    <img id="producto" src="/assets/img/sprite.png" alt="coke" />
    <p>Sprite <br />Somos lo que le gusta a tu familia</p>
  </div>
  <div class="card">
    <img id="producto" src="/assets/img/hupmann.png" alt="" />
    <p> H Upmann <br />Vendemos barato, no buscamos enriquecernos</p>
  </div>
</div>
