.card {
    position: relative;
    width: var(--card-width);
    /* height: var(); */

    margin: 20px;
    padding: 10px;

    cursor: pointer;

    border-radius: 10px;
    transition: 0.1s;
}

.card img {
    position: absolute;
    right: calc(var(--card-width) / 20);
    top: calc(-1 * var(--product-width) / 1.6);

    height: var(--product-width);
    width: auto;
    transform: rotate(15deg);

}

.card p::first-line {
    font-size: 30px;
}

.card p {
    color: var(--text-color);
    width: inherit;
    padding: 10px;
    font-size: 20px;
    font-family: Arial;
    font-weight: 600;
}

.container {

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}

/*  events */
.card:hover {
    /* Option 1 */
    box-shadow: 5px 5px 0 3px rgb(162, 0, 255);
    transform: translateX(-5px) translateY(-5px);
    
    /* Option 2 */
    background-color: rgb(69, 69, 69);

    /* Option 3 */
    /* background-color: rgb(107, 65, 145); */

    /* Option 4 */
    /* background-color: rgb(41, 126, 62); */
}

.card:active {
    transform: translateX(2px) translateY(2px);
}

.selected-card
{
    height: 200px;
}


@media (max-width: 720px)
{
    .card{
        width: calc(var(--card-width) - 120px);
        padding: 13px;
        
    }
    .card p::first-line{
        font-size: 23px;
    }
    .card img {
        
    }
    .card p{
        font-size: 15px;
        
    }
}
@media (min-height: 1080px) {
    .card{
        width: calc(var(--card-width) + 120px);
        padding: 20px;
        
    }
    .card p::first-line{
        font-size: 60px;
    }
    .card img {
        
    }
    .card p{
        
        font-size: 40px;
    }
}